.content--blended {
    isolation: isolate;
}

.bubble {
    font-family: 'Special Elite', Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 6px 8px rgba(255, 255, 255, 0.6);
}

h2 {
    font-family: 'Audiowide', Helvetica, sans-serif;
}

footer {
    font-family: 'Aldrich', Helvetica, sans-serif;
}

span:hover img {
    visibility: visible;
    opacity: 1;
}
@media (min-width: 600px) and (orientation: landscape) {
    .bubble {
        margin: auto;
        width: 50%;
    }
}
